<!-- Navigation -->

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","FilQuest")">Sharkwest</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <!-- .dropdown-messages -->
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Robrinne</strong>
                                    <span class="pull-right text-muted">
                                        <em>Hier</em>
                                    </span>
                                </div>
                                <div>J'ai mis au point un nouveau questionnaire avec les dernières questions sur le sujet je te le partage</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Blue59610</strong>
                                    <span class="pull-right text-muted">
                                        <em>Hier</em>
                                    </span>
                                </div>
                                <div>Super, on fait comme ça !</div>
                            </a>
                        </li>                        
                        <li>
                            <a class="text-center" href="#">
                                <strong>Mes messages </strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->               
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> Nouveau commentaire sur votre question.
                                    <span class="pull-right text-muted small">Il y a 4 minutes</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-star fa-fw"></i> Votre question a été notée par un nouvel utilisateur.
                                    <span class="pull-right text-muted small">Il y a 12 minutes</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Mes notifications </strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> Mon profil</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "Login")"><i class="fa fa-sign-out fa-fw"></i> Se déconnecter</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "FilQuest")"><i class="fa fa-navicon fa-fw"></i> Fil de questions</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "CreateQuestion")"><i class="fa fa-plus fa-fw"></i> Ajouter une question</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "CreateQuestionnaire")"><i class="fa fa-plus fa-fw"></i> Ajouter un questionnaire</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "HistoryQuestion")"><i class="fa fa-th-list fa-fw"></i> Mes questions</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "HistoryQuestionnaire")"><i class="fa fa-th-list fa-fw"></i> Mes questionnaires</a>
                        </li>
                        @*<li>
            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow fa-fw"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="@Url.Action("Index", "Panels")">Panels and Wells</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Buttons")">Buttons</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Notifications")">Notifications</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Typography")">Typography</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Icons")">Icons</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Grid")">Grid</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home")">Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Table")">Tables</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Forms")">Forms</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#">Second Level Item</a>
                </li>
                <li>
                    <a href="#">Third Level <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>*@
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>