
@model IEnumerable<AstonProject.Models.Question>

@{
    ViewBag.Title = "Index";
}

<div id="page-wrapper">

    @foreach (var item in Model)
    {
        <div class="row pt-10">
            <div class="col-md-12">
                <div class="panel panel-@Html.DisplayFor(modelItem => item.Category.Color)">
                    <!-- Header -->
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-8">
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </div>
                            <div class="col-md-4 text-center">
                                @Html.DisplayFor(modelItem => item.Note)/20<i class="fa fa-star fa-fw"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Fin header-->

                    <!-- Body -->
                    <div class="panel-body">
                        <!-- Question -->
                        <p>@Html.DisplayFor(modelItem => item.Quest)</p>
                        <!-- Fin qestion -->
                        <!-- Réponse -->
                        <pre>@Html.DisplayFor(modelItem => item.Answer)</pre>
                        <!-- Fin réponse -->
                    </div>
                    <!-- Fin body -->

                    <!-- Footer -->
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-8">
                                <!-- Boutons d'actions -->
                                <a href="#" class="pr-10 text-@Html.DisplayFor(modelItem => item.Category.ColorTwo)">
                                    <i class="fa fa-star fa-fw"></i> Noter
                                </a>
                                <a href="#" class="pr-10 text-@Html.DisplayFor(modelItem => item.Category.ColorTwo)">
                                    <i class="fa fa-comment fa-fw"></i> Commenter
                                </a>
                                <a href="#" class="pr-10 text-@Html.DisplayFor(modelItem => item.Category.ColorTwo)">
                                    <i class="fa fa-share fa-fw"></i> Partager
                                </a>
                                <a href="#" class="pr-10 text-@Html.DisplayFor(modelItem => item.Category.ColorTwo)">
                                    <i class="fa fa-plus fa-fw"></i> Ajouter
                                </a>
                                <!-- Fin boutons d'action-->
                            </div>
                            <div class="col-md-4 text-center">
                                <!-- Infos sur la question -->
                                <a href="#" class="pr-10  text-@Html.DisplayFor(modelItem => item.Category.ColorTwo)">
                                    @Html.DisplayFor(modelItem => item.NbComment) @if (item.NbComment <= 1) {<span>commentaire</span> } else { <span>commentaires</span>}
                                </a>
                                <a href="#" class="pr-10  text-@Html.DisplayFor(modelItem => item.Category.ColorTwo)">
                                    @Html.DisplayFor(modelItem => item.NbUsing) @if (item.NbUsing <= 1) {<span>utilisation</span> } else { <span>utilisations</span>}
                                </a> 
                                <a href="#" class="pr-10  text-@Html.DisplayFor(modelItem => item.Category.ColorTwo)">
                                    @Html.DisplayFor(modelItem => item.NbNote) @if (item.NbNote <= 1) {<span>note</span> } else { <span>notes</span>}
                                </a>
                                <!-- Fin des infos sur la question -->
                            </div>
                        </div>
                    </div>
                    <!-- Fin footer -->
                </div>
            </div>
        </div>
    }

</div>



